[Unit]
Description=389 ds backup service
After=network.target dirsrv.target

[Service]
ExecStart=/usr/sbin/backup_ldap  --config=/etc/backup_config.yml   backupDaemon 12h
Restart=always
RestartSec=200

[Install]
WantedBy=multi-user.target
